<template>
  <div id="app">
      <div class="file-tree-select">
        <div class="select-head">
            <span class="select-result">选择</span>    
        </div>
        <!-- <div></div> -->
        <ul class="slide-ctn">
            <li class="slide-item">
                <span class="icon">+</span>
                <span class="item-text">全局</span>
            </li>
            <li class="slide-item">
                <span class="icon">+</span>
                <span class="item-text">全局1</span>
            </li>
            <li class="slide-item">
                <span class="icon">+</span>
                <span class="item-text">全局2</span>
            </li>
        </ul>
      </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'app',
  data () {
    return {
    //   msg: 'Welcome to Your Vue.js App'
    }
  },
  created () {
      // 在hosts文件下配置 域名 http://test.chaoke.com/ 指向127.0.0.1 端口都是9999
	  
	  
      // 允许跨域携带cookie
      axios.defaults.withCredentials = true
      axios.get(' http://web.api.chaoke.com:6062/dept/getUnassignDeptMemberCount?qzid=16214&sessionid=q6678tprcndl44sh1coc9gdp01&upesnc=null&upesntgc=null&upesnugc=null&v=1')
  }
}
</script>

<style lang="scss" scoped>
    ul, li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .file-tree-select{
        min-width: 130px;
        max-width: 200px;
        text-align: left;
        position: relative;
        &:hover .slide-ctn{
            opacity: 1;
            height: 20px;
        }

        .select-head{
            margin-right: 10px;
            min-width: 96px;
            height: 28px;
            line-height: 28px;
            padding: 0 8px;
            color: #999;
            background-color: #F5F7F8;
            border-color: #F5F7F8;
            font-size: 12px;
            padding: 0;
            margin: 0;
            min-width: 130px;
            border-radius: 4px;

            .select-result{
                font-size: 12px;
                margin-left: 10px;
            }
        }
        .slide-ctn{
            opacity: 0;
            height: 0;
            -webkit-transition: height 200ms ease-in;
            -moz-transition: height 200ms ease-in;
            -o-transition: height 200ms ease-in;
            transition: height 200ms ease-in;
            font-size: 12px;
            position: absolute;
            width: 459px;
            background: #fff;
            padding: 4px 20px;
            box-shadow: 0 4px 8px 0 rgba(41,42,45,.28);
            z-index: 9;
            padding-left: 10px;
            max-height: 365px;
            overflow-y: auto;
            /*滚动条样式*/
            &::-webkit-scrollbar {/*滚动条整体样式*/
                width: 3px;     /*高宽分别对应横竖滚动条的尺寸*/
                height: 3px;
            }
            &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                border-radius: 5px;
                background: #d8d8d8;
            }
            // &::-webkit-scrollbar-track {/*滚动条里面轨道*/
            //     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            //     border-radius: 0;
            //     background: rgba(0,0,0,0.1);
            // }

            .slide-item{
                width: 100%;
                line-height: 33px;
            }
        }
    }
</style>
